<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IHQService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductServiceReference.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/HQService/HQServiceClass/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHQService"
                contract="HQServiceReference.IHQService" name="BasicHttpBinding_IHQService" />
        </client>
    </system.serviceModel>
</configuration>